*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}
#icon_social{
    font-size: 45px;
    /*color:rgba(0, 0, 255, 0.534);*/
    color:#ffffff;
    overflow: hidden;
}
#icon_social:hover{
    /*-webkit-transform:scale(1.3);*/
    transform:scale(1.3);
    color: #4d4d4d;
    transition: all 0.3s ease;

}
.start{
    background-color: #ffba24;/*rgba(78, 204, 73, 0.993)*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.start ul{
    width: 400px;
    height: 65px;
    list-style: none;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.start ul li{
    width: auto;
    height: auto;
    margin: 0px 14px 0px 14px; 
}
.titlepage{
    width: 400px;
   /* color: rgb(151, 105, 151);*/
    color: #4d4d4d;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.principal{
    background: #f3f3f3;
    display: flex;
    justify-content: center;
}
.content{
    width: 80%;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.main{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;

}
.main-text{
    width: 400px;
    font-size: 20px;
}
.title-main{
    font-weight: bold;
}
.main-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.myphoto{
    width: 250px;
    border-radius: 50%;
    margin: 10px;
}
.projectslists{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.title-projects{
    font-weight: bold;
    color: #4d4d4d; 
    text-align: center;
    margin: 30px;
}
.project{
    width: 80%;
    height: 200px;
    background-color: #f3f3f3;
    border: solid 2px #ffba24;
    border-radius: 15px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

}
.button-project{
    text-decoration: none;
    color: #4d4d4d;
    background-color: #4eeaff;
    padding: 8px;
    font-family: monospace;
    border-radius: 10px;
    
}
.button-project:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
    color: #ffba24;
    background-color: #ffffff;
}
/*.button-project:visited{
    color: #ffba24;
    background-color: #ffffff;
}*/
.fa-heart{
    font-size: 20px;
    color: #ffba24;
}
.foot-page{
    text-align: center;
}